
// ESTILO DE BOTONES

%buttons{
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    background-color: white;
    border-color: black;
    color: black;
}


// ESTILO DE SPAN EN PÁRRAFOS

%span-p{
    color: $verde-secundario;
    font-weight: bold;
    font-size: 1.15rem;
}


// ESTILO DE INPUTS EN FORMULARIO DE CONTACTO

%inputs-form{
    border: 0;
    padding: 0.5rem;
    margin-top: 0.5rem;
}