
// PALETA DE COLORES 

$verde-principal: #41504D;
$verde-secundario: #708883;
$beige-principal: #d1c1a9;
$beige-secundario: #e3d9ca;
$gris-complement: rgb(49, 49, 49);


// TIPO DE LETRA 

$font-principal: 'Roboto Condensed', sans-serif;